
.Header{
    width: 100%;
    position: fixed;
}
.Header ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
    background-color:  rgb(85, 83, 92);
}
.Header li{
    display: inline-block;
    background-color:  rgb(85, 83, 92);
}

.Header li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color:white;
}
.Header a:hover{
    display: block;
    border-radius: 5px;
    background-color:  white;
    color: green;
}

.Logo{
    left: 0;
    position: fixed;
}