.LeftNav{
    left: 0;
    bottom: 0;
    position: absolute;
    height: 80%;
}
.Icons ul{
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    justify-content: flex-start;
}
.Icons li{
    display: block;
}